<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=LAPTOP-Q14KQ22Q\SQLEXPRESS;;Initial Catalog=DatabaseAdvDapper;Integrated Security=True;Persist Security Info=False;Connect Timeout=300;Encrypt=False;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>